# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
.vscode

package-lock.json

# Terraform config files
.terraform*
*.tfvars
*.tfstate*
.azure

.github/
/node_modules/
/dist/
